@model SiteVarzea.Models.GASTO_MORADOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GASTO_MORADOR</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_gasto_morador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
