@{
    ViewBag.Title = "About";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About - Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <!--><link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="address-bar" style="position: relative;margin-bottom: 0" >Rua 10 B, 770| entre as avenidas 6A e 8A, Bairro: Bela Vista | (19)3597-0270</div>

<div class="container" style="margin-top: 0">
        <div class="row" style="margin-top: 0">
            <div class="box">
                <div class="col-lg-12" style="margin-bottom: 10px">
                    <hr>
                    <h2 class="intro-text text-center" style="margin-top: 0;color:black">
                        Sobre
                        <strong>NÓS</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-rounded img-responsive" src="../../img/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>Fundada em 2005, a maior e uma das mais tradicionais repúblicas da Computação da Unesp Rio Claro, sempre enviando membros ao InterCOMP, Carnailha e ao InterUNESP. </p>
                    <p>A república surgiu pela união das extintas repúblicas X e Tomahawk no ano de 2005, desde  então está presente no ambiente Rio Clarence tendo grande número de ex-moradores com os quais mantemos contato até os dias de hoje. </p>
                    <p>
                        Da união entre os moradores surgiu o Samba da Várzea, uma roda de samba de amigos que sempre anima reuniões e os aniversários da república.
                        Está localizada no privilegiado do bairro Bela Vista, perto da Unesp, do supermercado Pantoja, da panificadora Nova, papelaria Lapis de Cor e do centro da cidade.
                    </p><br />
                    <h5>Venha nos conhecer e entender porque não somos apenas Unespianos e sim Várzeanos de coração.”</h5><br />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>STAFF</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-rounded" src="../../img/black_lee.jpg" style="width=:450px;height: 210px" alt="">
                    <h3>
                        Black Lee
                        <small>Cão de guarda</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-rounded" src="../../img/porteiro.jpg" style="width=:850px;height: 210px">
                    <h3>
                        Black Lee
                        <small>Porteiro</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-rounded" src="../../img/despertador.jpg" style="width=:850px;height: 210px" alt="">
                    <h3>
                        Black Lee
                        <small>Despertador</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

    <!-- jQuery -->
    <script src="../../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>
    

</body>