@{
    ViewBag.Title = "Fale conosco";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua 10B, 770<br />
    Entre as avenidas 6A e 8A<br/>
    Bairro: Bela Vista<br/>
    CEP: 13506-742<br/>
    <abbr title="Phone">Telefone:</abbr>
    (19)3597-0270
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/RepVarzea/">RepVarzea</a><br />
</address>