
@{
    //Layout = "_Layout.cshtml";
    ViewBag.Title = "Erro 404";
}


<h1 class="text-center">Página não encontrada</h1>
<div class="text-center">
    <img src="~/Content/Imagens/404.jpg" class="img-nice" />
</div>




